/H1-Venta/nbproject/private/
/H4-ControlDeInventario/nbproject/private/
/H4-ControlDeInventario/build/
/AplicacionDesktop/nbproject/private/
/AplicacionDesktop/build/
/H4-ControlDeInventario/dist/
/AplicacionDesktop/dist/
/Inventario/nbproject/private/
/Inventario/build/